@font-face{
  font-family: custom;
  src: url(samarkan.ttf.TTF);
}
@font-face{
  font-family: custom2;
  src: url(coolveticarg.otf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
  
    
  }
  .brand{
    font-family: custom;
    font-size: 6.25rem;
  }
  .h_heading{
    color: #F7D274;
    
  }
  .descript{
    width: 35vw;

  }
  .stat_y{
    color: #fcedc8;
    font-size: 1.25rem;
    padding: 20px;
  }
  .hero{
    height: 100vh;
     background-image: url('herobg.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: relative;
  }

  .sec_y {
    height: 100vh;
    background: linear-gradient(#F7D274,#FCE6AD);
  }
  .sec_g{
    height: 100vh;
    background: linear-gradient(#2CA88C,#01545A);
  }
  .stat{
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 1px;
  }
  .h_heading{
    text-align: left;
    padding-top: 80px  ;
    font-size: 6.25em;
  }
  /* volunteers section */
  .wrapper{
    padding: 10px 10%;
  }
  #card-area{
    padding: 50px 0;
    /* background: linear-gradient(#2CA88C,#01545A); */
  }
  .container{
    background: linear-gradient(#2CA88C,#01545A);
    padding-top: 50px;

  }
  
  .box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  .box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  object-fit: cover;
  }
  .box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    border: 10px aliceblue solid;
  
  }
  .vol_slogan{
    color: #F7D274;
    text-align: center;
    font-size: 3.25rem;
    font-family: custom2;
    padding: 0 20px 10px ;
  }
  .vol_slogan2{
    color: #2CA88C;
    text-align: center;
    font-size: 3.25rem;
    font-family: custom2;
    padding: 0 20px 0 ;
  }
  .donate{
    padding: 30px 60px 0px;
    float:left;
    
  }
  #donation{
    height: 75vh;
    
  }
  .text{
    float:right;
    width: 60vw;
    height: 50vh;
    padding: 70px 0 0 50px;
    color: #2CA88C;
    font-size: 1.5rem;

    
  }
  .image{
    margin-top: 15pt;
    width: 30vw;
    height: 50vh;
  }
  /* community section */
  #community  {
    height: 70vh;
    background-image: url('community.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: relative;
    
  }

  /* volunteers blur animation */
  .overlay {
  width: 100%;
  height: 0;
  backdrop-filter: blur(3.5px);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 1em;
  transition: height 0.5s;
  color: #fff;
  }
  .overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-family: custom2;
  font-size: 1.875em;
 
  
  }
  .overlay a {
  margin-top: 10px;
  color: #686767;
  text-decoration: none;
  font-size: 0.875em;
  background: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
  }
  .overlay p{
    color: #e3e1e1;
    padding: 15 px;
  }
  .box:hover img{
    transform: scale(1.3);
  }
  .box:hover .overlay{
    height: 175%;
  }
  navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
  }
  
  .navbar-name {
    font-size: 1.2em;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  
      
  
   /* buttons styling */
      